@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

#root {
  overflow-x: hidden !important;
}

.btnn {
  display: block !important;
}

.context {
  display: flex !important;
  align-items: baseline;
  gap: 1.5rem;
}

.subtain {
  font-size: 14px;
  color: #4B5563;
  margin-top: 10px;
  margin-bottom: 10px;
}

.subble {
  font-size: 18px;
  font-weight: 600;
  /* display: flex;
  align-items: center; */
  color: rebeccapurple
}

.test {
  position: absolute;
  top: 5rem;
}

.test-2 {
  background: #fff;
  border-radius: 3px;
  padding: 15px 25px;
  padding-right: 25px;
  padding-left: 10px;

  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* height: 20vh; */
  /* width: 100%; */
}

.ppds {
  /* padding-top: 0.75rem; */
  padding-bottom: 0.55rem;
}

.sharp {
  width: 1rem;
  min-height: 1rem;
  left: 0.75rem;
  position: absolute;
  margin-top: 0.25rem; 
  transform: rotate(45deg);
  background: #fff;
}

.chevvy {
  padding-top: 2rem;
}

.context-2 {
  display: none;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 0;
  bottom: 0;
  top: 20px;
  padding-top: 1rem;
  padding-bottom: 20rem;
  padding-left: 1.5rem;
  transition: 0.5ms;
}

.set {
  font-size: 30px;
  display: none;
}

  .tain {
    padding-left: 12px;
    padding-right: 12px;
    text-align: left;
  }

  .logo-logo {
    z-index: 50;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
  }

.top-top {  
  height: 13vh;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}


.btn-secondary {
  color: #232323 !important;
  background-color: transparent !important;
  border-color: none !important;
  outline: none !important;
}

.btn {
  border: none !important;
  outline: none !important;
}

.btn-secondary.focus, .btn-secondary:focus {
  box-shadow: none !important;
}

.dropdown-menu {
  border-radius: 7px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.view-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 0 6rem;
}

.view {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 88px;
  height: 35vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  left: 0;
  background: #fff;
  border-radius: 2px;
  width: 101%;
  padding: 12px 16px;
}

.view ul li a {
  color: #232323 !important;
}

.view ul li  {
  list-style: none !important;
  margin-left: 11px;
  padding: 1.5px 0;
}

.err {
  display: none;
}



nav ul {
  /* display: flex; */
  gap: 3rem;
  margin-top: 1.5rem;
  /* justify-content: center;  */
} 

nav ul li {
  list-style: none;
  font-weight: 300;
  font-size: 16px;
} 

nav ul li a {
  text-decoration: none !important;
  color: #232323;
  font-weight: 400;
  &:hover {
    color: #232323;
  }
}

nav a {
  color: #232323;
  /* margin: 0 2rem; */
  text-decoration: none;
}


.contact {
  color: #004865;
  border: none;
  padding: 4px 20px;
  outline: none;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  &:hover {
    background-color: #004865;
    color: #fff;
    border-radius: 5px;
    margin: 0 !important;
    transition: 1s;
    cursor: pointer;
}
}


.body-hero {
  background-image: url(./assets/Rectangle\ 1735.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background: linear-gradient(269.79deg, rgba(176, 237, 255, 0) 0.18%, rgba(204, 239, 250, 0.98) 58.97%); */
  height: 50vw;
}

.subtain {
  list-style: none;
  margin: 10px;
  padding: 0;
}

.subtain a {
  position: relative; /* Positioning context for the ::after pseudo-element */
  color: #333; /* Default text color */
  text-decoration: none;
  padding-bottom: 0.2rem; /* Add some space below the text */
  transition: all 0.3s ease;
}

.subtain a::after {
  content: '';
  position: absolute;
  bottom: 0; /* Aligns the border at the bottom of the text */
  left: 0; /* Start from the beginning of the text */
  height: 1.9px; /* Border thickness */
  width: 0%; /* Initially not visible */
  background-color: #004865; /* Border color */
  transition: width 0.3s ease; /* Smooth transition for the border */
}

.subtain a:hover::after {
  width: 100%; /* Full width on hover */
}




.hero-content {
  padding-top: 12rem;
  margin-left: 60px;
  margin-right: 60px;
}

.hero-content h1 {
  color: #004865;
  width: 700px;
  font-weight: 700;
  font-size: 56px;
  line-height: 55.16px;
}

.hero-content p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  width: 500px;
  color: #232323;
}
.change {
  color: #42C6EC;
}

.work-btn {
  background: #004865;
  color: #ffffff;
  outline: none;
  border: none;
  padding: 7px 65px;
  border-radius: 6px;
  &:hover {
    background: #022938;
    transition: 2s;
  }
}

.core-section {
  text-align: center;
  margin: auto;
}

.core-boxes {
  display: flex;
  gap: 1rem;
  justify-content: center;

  /* grid-template-columns: repeat(5, 10rem); */
}

.core-box {
  background: #B0EDFF;
  padding: 50px 20px;
  border-radius: 6px;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.why-section {
  margin-top: 10rem;
  display: flex;
  gap: 1.5rem;
  background: #E8FAFF;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.why-text {
  margin-top: 15.6rem;
}

.max-section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  margin-left: 60px;
  /* margin-right: 60px; */
}

.max-text {
  margin-top: 16rem;
}

.expert-section {
  display: flex;
  gap: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: #E8FAFF;
}

.expert-text {
  margin-top: 16rem;
}

.first-worked {
  display: flex;
  justify-content: center;
}

.second-worked {
  display: flex;
  justify-content: center;
}

.third-worked {
  display: flex;
  justify-content: center;
}
.fourth-worked {
  display: flex;
  justify-content: center;
}

.worked-with {
  margin-top: 5rem;
}

.hide {
  display: none !important;
}

.the-ul {
  display: inline-block;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem; 
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.mymage {
  height: 2.70rem;
}

.navlink {
	/* Additional styling */
	color: #232323;
	font-weight: 400;
	position: relative;
	outline: none !important;
	transition: 0.2s;
}

.navlink::after {
	content: "";
	background-color: #232323;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	transition: 0.2s;
}

.navlink:hover,
.navlink:focus {
	color: #004865;
}

.navlink:hover::after,
.navlink:focus::after {
	background-color: #004865;
	width: 100%;
}


.reach-reach {
  display: flex;
  gap: 1rem;
}

.reach-top-text {
  color: #004865;
  font-weight: 600;
}

.rech-out-section {
 display: flex;
 gap: 2rem;
 justify-content: center;
 background: #E8FAFF;
 /* margin: 0 8rem; */
 margin-top: 4rem;
 padding-top: 10rem;
}

.footer-main-main {
  background: #E8FAFF;
}

.footer-main {
  padding-top: 12rem;
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
}

.footer-contents {
  display: flex;
  gap: 4rem;
}

.footer-contents h5 {
  color: #232323;
  font-weight: 700;
}

.copy {
  margin-top: 3rem;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  justify-content: space-between;
}

.copy-icons {
  display: flex;
  gap: 1rem;
}





@media (min-width:576px){
  .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: 992px) {
  #root {
    overflow-x: hidden !important;
  }


.homebtn {
  background-color: #004865 !important;
  color: #fff !important;
  padding: 4px 20px;
  outline: none !important;
  border: none !important;
  border-radius: 3px;
  margin-left: 0.6rem !important;
}

  header {
    margin-top: 1rem;
    margin-left: 20px;
    margin-right: 25px;
}

.body-hero {
  height: 60vw !important;
}

  header nav {
    display: flex;
    flex-direction: column !important;
  }
.view-nav{
  display: none;
  flex-direction: column;
}
  /* nav ul{
    flex-direction: column;
  } */
  .err {
    display: block;
    outline: none;
    border: none;
    background: transparent;
    font-size: 25px;
    margin-top: 10px;
    font-weight: 100 !important;
  }

  .contact {
    background: #004865;
    color: #fff;
    border: none;
    outline: none;
    padding: 4px 25px;
    border-radius: 5px;
  }
  
  .hero-content {
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 10px;
    margin: 0;
}

.hero-content h1 {
  font-size: 27px;
  width: 300px;
  line-height: 30px;
}

.hero-content p {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  width: 70%;
}

.work-btn {
  padding: 5px 35px;
}

.why-text button {
  width: 100%;
}

.core-box {
  padding: 75px 0px !important;
  width: 90% !important;
}

.core-boxes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.core-section {
  padding: 10px 0 !important;
}

.core-section h2 {
  font-size: 30px !important;
  margin: 1rem 1rem !important;
}

.why-section {
  margin-top: 3rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 1.5rem;
}

.why-text {
  margin-top: 1rem;
  padding: 0 20px;
}

.why-text h1{
  font-size: 35px !important;
}

.why-text p {
  width: 100% !important;
  font-size: 17px !important;
  line-height: 25px !important;
}

.why-img img {
  width: 100% !important;
  padding-right: 20px !important;
}

.max-section {
  margin-top: 0;
  margin-bottom: 0;
  flex-direction: column;
  display: flex;
  margin: 0 !important;
}

.max-text {
  margin-top: 2rem !important;
  padding: 0 24px !important;
  margin-bottom: 2.5rem;
}

.max-text h1 {
    font-size: 29px !important;
    width: 400px !important;
}

.max-text button {
  width: 100% !important;
}

.max-image img {
  width: 100% !important;
  padding-left: 22px;
}

.expert-section {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  margin-top: 2rem;
}

.expert-text {
  margin-top: 1rem;
  padding: 0 21px !important;
  margin-bottom: 2rem;
}

.expert-text button {
  width: 100%;
}

.expert-text h1 {
  font-size: 32px !important;
}
.expert-image img {
  width: 100%;
  padding-right: 20px;
}

.first-worked {
  margin: auto;
  text-align: center;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
}

.first-worked div img {
  width: 60%;
}

.second-worked {
  margin: auto;
  text-align: center;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
}

.second-worked div img {
  width: 60%;
}

.third-worked {
  margin: auto;
  text-align: center;
  display: flex !important;
  flex-direction: column;
}

.third-worked div img {
  width: 60%;
}

.fourth-worked {
  margin: auto;
  text-align: center;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
}

.fourth-worked div img {
  width: 60%;
}
.worked-with {
  margin-top: 2rem !important;
}

.worked-with h5 {
  margin-bottom: 2rem;
}

.mymage {
  cursor: pointer !important;
}

.context {
  display: none !important;
}

.context-2 {
  display: block !important;
} 

  .btnn {
    display: none !important;
  }

  .tain {
    position: relative;
    cursor: pointer;
  }

  .logo-logo {
    width: 100%;
    align-items: center;
  }
  .set {
    display: block;
  }

  .render {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border-bottom: none !important; /* Remove border-bottom by default */
    color: inherit;
  }

  .render:hover {
    border-bottom: none !important; /* Border on hover */
    color: #004865; /* Color on hover */
  }

  .render span {
    transition: transform 0.3s ease;
    margin-left: 0.5rem;
  }

  .test {
    position: absolute;
    top: 100%; /* Position below the parent link */
    left: 0;
    width: max-content;
    background-color: #fff; /* Background for submenu */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
    z-index: 10;
  }

  .ppds {
    position: relative;
    padding-top: 1px !important;
    padding-bottom: 0 !important;
  }

  .test-2 {
    padding: 0.5rem 0;
  }
  
  .subtain {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .subtain a {
    display: block;
    padding: 0.5rem 1rem;
    color: #333; /* Link color */
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .subtain a:hover {
    background-color: #f0f0f0; /* Background on hover */
  }

  .rech-out-section {
    display: block !important;
    padding-top: 0 !important;
}

.the-call  {
  width: 100% !important;
  padding: 0 0 0 15px;
}
.the-text {
  padding: 40px;
}

br {
  display: none !important;
}

.footer-main {
  display: block !important;
  padding-top: 5rem !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}


.footer-contents {
  display: block !important;
  text-align: center !important;
}

.logo-footer {
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
  padding: 10px !important;
  margin: 0 !important;
}

.logo-footer p {
  font-size: 18px;
  padding: 19px;
}
.copy {
  align-items: center !important;
  text-align: center !important;
  display: block !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
}

.copy-icons {
  justify-content: center !important;
}
.top-top {
  /* position: sticky !important; */
  /* top: 0 !important; */
  padding: 0 0 !important;
  /* z-index: 1000 !important; */
  /* width: 100% !important; */
}
.body-hero {
  margin-top: 5rem !important;
}
}